<div class="content-area about-container">
	<div class="container">
		<div class="header">
			<h1><span>About Us</span></h1>
		</div>
		<div class="row mobile-helper">
			<div class="col-md-6 text-right s1">
				<h2>We are<br/> The Kinetic</h2>
			</div>
			<div class="col-md-5">
				<p>The Kinetic is a motion design studio with a digital and new technology edge. We specialise in creative solutions that tell your story, in the right way, to the right people and using the right platforms, ultimately leading to long term brand equity and commercial success.</p>

				<p>Utilising motion design, digital and new technology integration, The Kinetic serves as a conduit for brands and agencies to achieve more integrated and unified creative campaigns.</p>

				<p>We specialise in user centred creative, with design, concepts and storytelling at the heart of everything we do.</p>
				
			</div>
		</div>
		<div class="row">
			<!-- <div class="img-strip">
				<div class="col-md-2" back-img="../images/img1.jpg" maintain-aspect-ratio ng-mouseover="goService1 = !goService1" ng-mouseout="goService1 = !goService1">
					<div class="overlay color-white">
					</div>
				</div>
				<div class="col-md-2" back-img="../images/img1.jpg" maintain-aspect-ratio ng-mouseover="goService2 = !goService2" ng-mouseout="goService2 = !goService2">
					<div class="overlay color-white">
						<h3 ng-show="goService1">Service 1</h3>
					</div>
				</div>
				<div class="col-md-2" back-img="../images/img1.jpg" maintain-aspect-ratio ng-mouseover="goService3 = !goService3" ng-mouseout="goService3 = !goService3">
					<div class="overlay color-white">
						<h3 ng-show="goService2">Service 2</h3>
					</div>
				</div>
				<div class="col-md-2" back-img="../images/img1.jpg" maintain-aspect-ratio ng-mouseover="goService4 = !goService4" ng-mouseout="goService4 = !goService4">
					<div class="overlay color-white">
						<h3 ng-show="goService3">Service 3</h3>
					</div>
				</div>
				<div class="col-md-2" back-img="../images/img1.jpg" maintain-aspect-ratio ng-mouseover="goService5 = !goService5" ng-mouseout="goService5 = !goService5">
					<div class="overlay color-white">
						<h3 ng-show="goService4">Service 4</h3>
						<h3 ng-show="goService6"><span>Service 6</span></h3>
					</div>
				</div>
				<div class="col-md-2" back-img="../images/img1.jpg" maintain-aspect-ratio ng-mouseover="goService6 = !goService6" ng-mouseout="goService6 = !goService6">
					<div class="overlay color-white">
						<h3 ng-show="goService5">Service 5</h3>
					</div>
				</div>
			</div> -->
			<div class="img-strip">
				<!-- <div class="col-md-2" back-img="../images/service1.jpg" maintain-aspect-ratio></div>
				<div class="col-md-2" back-img="../images/service2.jpg" maintain-aspect-ratio></div>
				<div class="col-md-2" back-img="../images/service3.jpg" maintain-aspect-ratio></div>
				<div class="col-md-2" back-img="../images/service4.jpg" maintain-aspect-ratio></div>
				<div class="col-md-2" back-img="../images/service5.jpg" maintain-aspect-ratio></div>
				<div class="col-md-2" back-img="../images/service6.jpg" maintain-aspect-ratio></div> -->
				<div class="col-md-2" style="padding:0;"><img src="../images/service1.jpg" class="img-responsive" /></div>
				<div class="col-md-2" style="padding:0;"><img src="../images/service2.jpg" class="img-responsive" /></div>
				<div class="col-md-2" style="padding:0;"><img src="../images/service3.jpg" class="img-responsive" /></div>
				<div class="col-md-2" style="padding:0;"><img src="../images/service4.jpg" class="img-responsive" /></div>
				<div class="col-md-2" style="padding:0;"><img src="../images/service5.jpg" class="img-responsive" /></div>
				<div class="col-md-2" style="padding:0;"><img src="../images/service6.jpg" class="img-responsive" /></div>
			</div>
		</div>
		<div class="row white-block">
			<div class="col-md-6 padding-y-med" style="padding:30px">
					<p>At the Kinetic we know that delivering a  successful creative message requires a holistic approach, and is best accomplished  when strategy, creative, and digital are all under one roof and work together. We tailor creative solutions internally and manage the process without outsourcing, keeping costs down, speeding up delivery and keeping the message clear.</p>
			</div>
			<div class="col-md-6 padding-y-med" style="padding:30px">
				 <p>Our conceptual thinking considers multiple platform outputs and by utilising screen and digital we deliver story based creative. Our services cover the complete pipeline from conceptualisation, design and art direction, motion and animation, digital integration and of course, deployment.</p>
			</div>
		</div>
		<div class="row text-center padding-med">
			<h2>Meet the Kinetic</h2>
		</div>
	</div> <!-- / container -->
	<div class="row peeps">
		<div class="img-strip">
			<div class="col-md-1 col-sm-6" back-img="../images/Estian.jpg" maintain-aspect-ratio ng-mouseover="goPeep1 = !goPeep1" ng-mouseout="goPeep1 = !goPeep1">
				<div class="overlay color-white">
				</div>
			</div>
			<div class="col-md-1" back-img="../images/Gill.jpg" maintain-aspect-ratio ng-mouseover="goPeep2 = !goPeep2" ng-mouseout="goPeep2 = !goPeep2">
				<div class="overlay color-white">
					<h3 ng-show="goPeep1">Estian <br/>Fourie</h3>
				</div>
			</div>
			<div class="col-md-1" back-img="../images/Jano.jpg" maintain-aspect-ratio ng-mouseover="goPeep3 = !goPeep3" ng-mouseout="goPeep3 = !goPeep3">
				<div class="overlay color-white">
					<h3 ng-show="goPeep2">Gillian <br/>Pearce</h3>
				</div>
			</div>
			<div class="col-md-1" back-img="../images/Neil.jpg" maintain-aspect-ratio ng-mouseover="goPeep4 = !goPeep4" ng-mouseout="goPeep4 = !goPeep4">
				<div class="overlay color-white">
					<h3 ng-show="goPeep3">Jano <br/>Booysen</h3>
				</div>
			</div>
			<div class="col-md-1" back-img="../images/Reinette.jpg" maintain-aspect-ratio ng-mouseover="goPeep5 = !goPeep5" ng-mouseout="goPeep5 = !goPeep5">
				<div class="overlay color-white">
					<h3 ng-show="goPeep4">Neil <br/>van Vuuren</h3>
				</div>
			</div>
			<div class="col-md-1" back-img="../images/Stephen.jpg" maintain-aspect-ratio ng-mouseover="goPeep6 = !goPeep6" ng-mouseout="goPeep6 = !goPeep6">
				<div class="overlay color-white">
					<h3 ng-show="goPeep5">Reinette <br/>Robberts</h3>
					<h3 ng-show="goPeep7">Zani <br/><span>Labuschagne</span></h3>
				</div>
			</div>
			<div class="col-md-1" back-img="../images/Zani.jpg" maintain-aspect-ratio ng-mouseover="goPeep7 = !goPeep7" ng-mouseout="goPeep7 = !goPeep7">
				<div class="overlay color-white">
					<h3 ng-show="goPeep6">Stephen <br/>Galloway</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row peeps-mobile">

			<div class="col-md-1 col-sm-6 col-xs-12">
				<img src="../images/Estian.jpg" class="img-responsive" />
			</div>
			<div class="col-md-1 col-sm-6 col-xs-12">
				<img src="../images/Gill.jpg" class="img-responsive" />
			</div>
			<div class="col-md-1 col-sm-6 col-xs-12">
				<img src="../images/Jano.jpg" class="img-responsive" />
			</div>
			<div class="col-md-1 col-sm-6 col-xs-12">
				<img src="../images/Neil.jpg" class="img-responsive" />
			</div>
			<div class="col-md-1 col-sm-6 col-xs-12">
				<img src="../images/Reinette.jpg" class="img-responsive" />
			</div>
			<div class="col-md-1 col-sm-6 col-xs-12">
				<img src="../images/Stephen.jpg" class="img-responsive" />
			</div>
			<div class="col-md-1 col-sm-6 col-xs-12">
				<img src="../images/Zani.jpg" class="img-responsive" />
			</div>
	</div>
	<div class="container">
		<div class="row padding-med">
			<div class="col-md-6 text-right s1 mobile-helper">
				<h2>Let's meet<br/> for real</h2>
			</div>
			<div class="col-md-5">
				<p>Think we look like the people you need to be working with? Don’t hesitate to drop us a line so we can meet you.</p>

				<p>Visit our <a href ui-sref="app.contact">Contact</a> page for all the ways we can hook up for a coffee date and let's see what we can do for you.</p>
				
			</div>
		</div>
		<div class="row text-center padding-med">
			<h2>This is the Kinetic</h2>
		</div>
	</div><!-- /container-->

	<!-- <div class="row instagram-strip">
		<div class="col-md-4 full-img" back-img="../images/img2.jpg"></div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-6 half-img" back-img="../images/img1.jpg"></div>
				<div class="col-md-6 half-img" back-img="../images/img2.jpg"></div>
			</div>
			<div class="row">
				<div class="col-md-6 half-img" back-img="../images/img2.jpg"></div>
				<div class="col-md-6 half-img" back-img="../images/img1.jpg"></div>
			</div>
		</div>
		<div class="col-md-4 full-img" back-img="../images/img3.jpg"></div>
	</div> -->


		<div class="col-md-4" style="padding:0;"><img src="../images/kinetic1.jpg" class="img-responsive" /></div>
		<div class="col-md-4" style="padding:0;">
			<div class="col-md-6" style="padding:0;"><img src="../images/kinetic2.jpg" class="img-responsive" /></div>
			<div class="col-md-6" style="padding:0;"><img src="../images/kinetic3.jpg" class="img-responsive" /></div>
			<div class="col-md-6" style="padding:0;"><img src="../images/kinetic4.jpg" class="img-responsive" /></div>
			<div class="col-md-6" style="padding:0;"><img src="../images/kinetic5.jpg" class="img-responsive" /></div>
		</div>
		<div class="col-md-4" style="padding:0;"><img src="../images/kinetic6.jpg" class="img-responsive" /></div>
	
		<div class="col-md-4" style="padding:0;"><img src="../images/kinetic7.jpg" class="img-responsive" /></div>
		<div class="col-md-4" style="padding:0;"><img src="../images/kinetic8.jpg" class="img-responsive" /></div>
		<div class="col-md-4" style="padding:0;">
			<div class="col-md-6" style="padding:0;"><img src="../images/kinetic9.jpg" class="img-responsive" /></div>
			<div class="col-md-6" style="padding:0;"><img src="../images/kinetic10.jpg" class="img-responsive" /></div>
			<div class="col-md-6" style="padding:0;"><img src="../images/kinetic11.jpg" class="img-responsive" /></div>
			<div class="col-md-6" style="padding:0;"><img src="../images/kinetic12.jpg" class="img-responsive" /></div>
		</div>

		<div style="clear:both"></div>

		<div class="container footer">
			<p>© Copyright 2016 | <a href="http://thekinetic.co.za">The Kinetic</a> | All Rights Reserved | Developed by <a href="http://ixd.co.za">IXD</a></p>
		</div>
	<!-- <div ui-view="details"></div> -->
	
</div>


