<div class="content-area about-container">
	<div class="container">
		<div class="header">
			<h1><span>About Us</span></h1>
		</div>
		<div class="row">
			<div class="col-md-6 text-right s1">
				<h2>Welcome to<br/> The Kinetic</h2>
			</div>
			<div class="col-md-5">
				<p>The Kinetic is a brand communication agency. We are the creators of concepts, images and experiences, engaging audiences through tailored messaging. We specialise in creative solutions to tell your story, to the right people, regardless of what platform we’re working with.</p>
				<p>Every creative challenge should be approached with a unique solution, and that’s what we do!</p>
				<p>When your brand succeeds, so do we.</p>
				
			</div>
		</div>
		<div class="row">
			<div class="text-center padding-small">
				<p>Read more about<br/> our services</p>
			</div>
		</div>
		<div class="row">
			<div class="img-strip">
				<div class="col-md-2" back-img="../images/img1.jpg" maintain-aspect-ratio ng-mouseover="goService1 = !goService1" ng-mouseout="goService1 = !goService1">
					<div class="overlay color-white">
					</div>
				</div>
				<div class="col-md-2" back-img="../images/img1.jpg" maintain-aspect-ratio ng-mouseover="goService2 = !goService2" ng-mouseout="goService2 = !goService2">
					<div class="overlay color-white">
						<h3 ng-show="goService1">Service 1</h3>
					</div>
				</div>
				<div class="col-md-2" back-img="../images/img1.jpg" maintain-aspect-ratio ng-mouseover="goService3 = !goService3" ng-mouseout="goService3 = !goService3">
					<div class="overlay color-white">
						<h3 ng-show="goService2">Service 2</h3>
					</div>
				</div>
				<div class="col-md-2" back-img="../images/img1.jpg" maintain-aspect-ratio ng-mouseover="goService4 = !goService4" ng-mouseout="goService4 = !goService4">
					<div class="overlay color-white">
						<h3 ng-show="goService3">Service 3</h3>
					</div>
				</div>
				<div class="col-md-2" back-img="../images/img1.jpg" maintain-aspect-ratio ng-mouseover="goService5 = !goService5" ng-mouseout="goService5 = !goService5">
					<div class="overlay color-white">
						<h3 ng-show="goService4">Service 4</h3>
						<h3 ng-show="goService6"><span>Service 6</span></h3>
					</div>
				</div>
				<div class="col-md-2" back-img="../images/img1.jpg" maintain-aspect-ratio ng-mouseover="goService6 = !goService6" ng-mouseout="goService6 = !goService6">
					<div class="overlay color-white">
						<h3 ng-show="goService5">Service 5</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row white-block">
			<div class="col-md-6">
			</div>
			<div class="col-md-6 padding-y-med">
				<p>The Kinetic is a brand communication agency. We are the creators of concepts, images and experiences, engaging audiences through tailored messaging. We specialise in creative solutions to tell your story, to the right people, regardless of what platform we’re working with.</p>
				<p>Every creative challenge should be approached with a unique solution, and that’s what we do!</p>
				<p>When your brand succeeds, so do we.</p>
			</div>
		</div>
		<div class="row text-center padding-med">
			<h2>Meet the Kinetic</h2>
		</div>
	</div> <!-- / container -->
	<div class="row peeps">
		<div class="img-strip">
			<div class="col-md-1" back-img="../images/gill.jpg" maintain-aspect-ratio ng-mouseover="goPeep1 = !goPeep1" ng-mouseout="goPeep1 = !goPeep1">
				<div class="overlay color-white">
				</div>
			</div>
			<div class="col-md-1" back-img="../images/gill.jpg" maintain-aspect-ratio ng-mouseover="goPeep2 = !goPeep2" ng-mouseout="goPeep2 = !goPeep2">
				<div class="overlay color-white">
					<h3 ng-show="goPeep1">Stanley <br/>Yelnats</h3>
				</div>
			</div>
			<div class="col-md-1" back-img="../images/gill.jpg" maintain-aspect-ratio ng-mouseover="goPeep3 = !goPeep3" ng-mouseout="goPeep3 = !goPeep3">
				<div class="overlay color-white">
					<h3 ng-show="goPeep2">Stanley <br/>Yelnats</h3>
				</div>
			</div>
			<div class="col-md-1" back-img="../images/gill.jpg" maintain-aspect-ratio ng-mouseover="goPeep4 = !goPeep4" ng-mouseout="goPeep4 = !goPeep4">
				<div class="overlay color-white">
					<h3 ng-show="goPeep3">Stanley <br/>Yelnats</h3>
				</div>
			</div>
			<div class="col-md-1" back-img="../images/gill.jpg" maintain-aspect-ratio ng-mouseover="goPeep5 = !goPeep5" ng-mouseout="goPeep5 = !goPeep5">
				<div class="overlay color-white">
					<h3 ng-show="goPeep4">Stanley <br/>Yelnats</h3>
				</div>
			</div>
			<div class="col-md-1" back-img="../images/gill.jpg" maintain-aspect-ratio ng-mouseover="goPeep6 = !goPeep6" ng-mouseout="goPeep6 = !goPeep6">
				<div class="overlay color-white">
					<h3 ng-show="goPeep5">Stanley <br/>Yelnats</h3>
					<h3 ng-show="goPeep7"><span>Stanley <br/>Yelnats</span></h3>
				</div>
			</div>
			<div class="col-md-1" back-img="../images/gill.jpg" maintain-aspect-ratio ng-mouseover="goPeep7 = !goPeep7" ng-mouseout="goPeep7 = !goPeep7">
				<div class="overlay color-white">
					<h3 ng-show="goPeep6">Stanley <br/>Yelnats</h3>
				</div>
			</div>
		</div>
	</div>

	<div ui-view="details"></div>
	
</div>


