<div class="content-area about-container">
	<div class="container">
		<div class="header contact">
			<h1><span>Contact</span></h1>
		</div>
		<div class="row contact-details">
			<div class="col-md-6 text-right mobile-text-right s1">
				<h2>General</h2>
				<p><strong>Email</strong></p>
				<h3><a href="mailto:info@thekinetic.co.za">info@thekinetic.co.za</a></h3>
				<p><strong>Phone</strong></p>
				<h3><a href="tel:+27117844899">+27 11 784 4899</a></h3>
				<p><strong>Skype</strong></p>
				<h3><a href="skype:thekinetic?call">TheKinetic</a></h3>
				<!-- <h2 style="margin-top:50px;">The Studio</h2> -->
				
				<!-- <p><a href="https://goo.gl/maps/12CywCRit2T2" target="_blank">View on Google Maps</a> -->
			</div>
			<div class="col-md-5">
			<h2>Social</h2>

			<div class="row social" style="margin-bottom: 30px;">
				<div class="col-xs-2">
					<a href="https://www.facebook.com/thekineticstudio/?fref=ts" target="_blank">
						<div class="circle-icon">
							<i class="fa fa-facebook"></i>
						</div>
					</a>
				</div>
				<div class="col-xs-2">
					<a href="https://www.behance.net/thekinetic" target="_blank">
						<div class="circle-icon">
							<i class="fa fa-behance"></i>
						</div>
					</a>
				</div>
				<div class="col-xs-2">
					<a href="https://www.instagram.com/thekineticstudio/" target="_blank">
						<div class="circle-icon">
							<i class="fa fa-instagram"></i>
						</div>
					</a>
				</div>
				<div class="col-xs-2">
					<a href="https://twitter.com/the_kinetic?lang=en" target="_blank">
						<div class="circle-icon">
							<i class="fa fa-twitter"></i>
						</div>
					</a>
				</div>
				<div class="col-xs-2">
					<a href="https://vimeo.com/thekinetic" target="_blank">
						<div class="circle-icon">
							<i class="fa fa-vimeo"></i>
						</div>
					</a>
				</div>
			</div>

			<h2>Got skills?</h2>
			<p>We're always keen to meet, and work with, talented and interesting people. If you think you have a reel or portfolio worth sharing, get in touch. Drop us a mail with your work and lets works together.<br/><br/></p>
			<h3><a href="mailto:talent@thekinetic.co.za">talent@thekinetic.co.za</a></h3>
			</div>
		</div>
		<div class="header" style="padding: 4em 1em 3.2em 1em;">
			<h2><span>The Kinetic Studio</span></h2>
			<p class="address">70, 11th Street (Cnr Virginia), Parkmore, Johannesburg, South Africa</p>
			<p style="margin-top: 30px;"><a href="https://goo.gl/maps/12CywCRit2T2" target="_blank">Open in Google Maps</a>
		</div>
	</div> <!-- / container -->
	<div class="row gmaps">

			<div id="map"></div>
		</div>

	<!-- <div ui-view="details"></div> -->

	<div class="container footer">
			<p>© Copyright 2016 | <a href="http://thekinetic.co.za">The Kinetic</a> | All Rights Reserved | Developed by <a href="http://ixd.co.za">IXD</a></p>
		</div>
	
</div>



