<div class="vid-stage">
</div>

<div class="project-inner">
	<data-owl-carousel class="owl-carousel video-header" data-options="">
      	<div owl-carousel-item="" ng-repeat="video in selectedProject.videos" class="item" back-img="{{video.cover}}">
        	<div class="item-assets">
	        	<h1>{{video.title}}</h1>
	        	<p>{{video.type}}</p>
	        	<div class="play-btn">
	        		<!-- <img src="../images/play.png" alt="Play Video"> -->
	        		<svg class="animation-circle {{video.playTrigger}}" ng-click="expandCircle()"></svg>
	        		<!-- <svg height="100" width="100"  ng-click="expandCircle()">
	        		  <circle id="circle" cx="50" cy="50" r="48" stroke="white" stroke-width="3" fill="black" />
	        		</svg> -->

	        	</div>
        	</div>
      	</div>
	</data-owl-carousel>

	<!-- <div masonry>
	    <div class="masonry-brick" ng-repeat="image in selectedProject.images">
	        <img ng-src="{{ image }}" alt="A masonry brick">
	    </div>
	</div> -->


	<!-- PREVIOUS VIDEO -->
	<div class="arrow arrow-left">
		<span class="glyphicon glyphicon-menu-left arrow-left-mini" aria-hidden="true"></span>
	</div>
	<!-- NEXT VIDEO -->
	<div class="arrow arrow-right" owl-carousel-next>
		<span class="glyphicon glyphicon-menu-right arrow-right-mini" aria-hidden="true"></span>
	</div>
<!-- 

Project Details Page
	<h3>{{selectedProject.name}}</h3>
	<h3>{{selectedProject.id}}</h3>
	<p>
	  {{selectedProject.description}}
	</p>
 -->

 	<div class="container project-copy">
		<div class="row">
			<div class="col-md-2 col-md-offset-1 s1">
				<h2 ng-click="reverseExpand()">Project <br/>Details</h2>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<p>
				The Afrisam SAIA Awards aim to recognise outstanding achievement in sustainable architecture. To compliment their vision, The Kinetic was asked to create a series of videos for online marketing as well as a series of event specific AVs to reveal the winner's in each category. We developed a stop frame approach to further expand on the visual style developed in previous years. The concept explores the creative process of architecture through an abstracted examination of their tools.</p>

				<p>The Afrisam SAIA Awards aim to recognise outstanding achievement in sustainable architecture. To compliment their vision, The Kinetic was asked to create a series of videos for online marketing as well as a series of event specific AVs to reveal the winner's in each category. We developed a stop frame approach to further expand on the visual style developed in previous years.</p>
				
			</div>
		</div>
		<div class="row project-credits">
			<div class="col-md-2 col-md-offset-1 s1">
				<h2>Credits</h2>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<p><strong>Agency:</strong> Breinstorm<br/>
				<strong>Collaborator:</strong> Directing and editing: Ian Henderson<br/>
				<strong>Sound:</strong> Directing and editing: Ian Henderson</p>
			</div>
		</div>
	</div>
	
	   
	<ul class="dynamic-grid" angular-grid="pics" grid-width="400" gutter-size="5" angular-grid-id="gallery" refresh-on-img-load="true" >
	     <li ng-repeat="image in selectedProject.images" class="grid">
	         <img data-ng-src="{{ image }}" class="grid-img" data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}" />
	     </li>
	 </ul>

	 <div class="clearfix"></div>

	 <div class="pagination row">
	 	<div class="pagination-top col-md-12">
	 		<a ng-click="projectTransition()">Back To Top</a>
	 	</div>
	 	<div class="pagination-bottom row">
	 		<div class="pagination-prev col-md-6 text-right">
	 			<a ng-click="projectTransition()" href="#/projects/{{prevProject}}">Prev</a>
	 		</div>
	 		<div class="pagination-next col-md-6">
	 			<a ng-click="projectTransition()" href="#/projects/{{nextProject}}">Next</a>
	 		</div>
	 	</div>
	 </div>
	


</div>



