<div class="vid-stage">
	<div class="close-btn" ng-click="reverseExpand()">
		close
	</div>
	<div class="video-container" ng-repeat="video in selectedProject.videos">
		{{video.title}}
	</div>
</div>

<div class="project-inner">
	<data-owl-carousel class="owl-carousel video-header" data-options="">
      	<div owl-carousel-item="" ng-repeat="video in selectedProject.videos" class="item" back-img="{{video.cover}}">
        	<div class="item-assets">
	        	<h1>{{video.title}}</h1>
	        	<p>{{video.type}}</p>
	        	<div class="play-btn">
	        		        			
	        			<div ng-if="video.id === 1">
	        				<svg class="triangle triangle1" ng-click="expandCircle1()"></svg>
	        				<svg id="circle1" class="animation-circle" ng-click="expandCircle1()"></svg>
	        			</div>
	        			<div ng-if="video.id === 2">
	        				<svg class="triangle triangle2" ng-click="expandCircle2()"></svg>
	        				<svg id="circle2" class="animation-circle" ng-click="expandCircle2()"></svg>
	        			</div>

	        	</div>
        	</div>
      	</div>
	</data-owl-carousel>

	<!-- PREVIOUS VIDEO -->
	<div class="arrow arrow-left">
		<span class="glyphicon glyphicon-menu-left arrow-left-mini" aria-hidden="true"></span>
	</div>
	<!-- NEXT VIDEO -->
	<div class="arrow arrow-right" owl-carousel-next>
		<span class="glyphicon glyphicon-menu-right arrow-right-mini" aria-hidden="true"></span>
	</div>
<!-- 

Project Details Page
	<h3>{{selectedProject.name}}</h3>
	<h3>{{selectedProject.id}}</h3>
	<p>
	  {{selectedProject.description}}
	</p>
 -->

 	<div class="container project-copy">
		<div class="row">
			<div class="col-md-2 col-md-offset-1 s1">
				<h2>Project <br/>Details</h2>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<div ng-bind-html="projectDescription"></div>
				
			</div>
		</div>
		<div class="row project-credits" ng-if="selectedProject.sound || selectedProject.collaborators || selectedProject.agency">
			<div class="col-md-2 col-md-offset-1 s1">
				<h2>Credits</h2>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<p ng-if="selectedProject.agency"><strong>Agency:</strong> <span ng-bind-html="projectAgency"</span>></p>
				<p ng-if="selectedProject.collaborators"><strong>Collaborators:</strong> <span ng-bind-html="projectCollaborators"</span>></p>
				<p ng-if="selectedProject.sound"><strong>Sound:</strong> <span ng-bind-html="projectSound"</span>></p>
				<!-- <strong>Collaborator:</strong> Directing and editing: Ian Henderson<br/>
				<strong>Sound:</strong> Directing and editing: Ian Henderson -->
			</div>
		</div>
	</div>
	
	   
	<ul class="dynamic-grid" angular-grid="pics" grid-width="400" gutter-size="5" angular-grid-id="gallery" refresh-on-img-load="true" >
	     <li ng-repeat="image in selectedProject.images" class="grid">
	         <img data-ng-src="{{ image }}" class="grid-img" data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}" />
	     </li>
	 </ul>

	 <div class="clearfix"></div>

	 <div class="pagination row">
	 	<div class="pagination-top col-md-12">
	 		<a ng-click="projectTransition()">Back To Top</a>
	 	</div>
	 	<div class="pagination-bottom row">
	 		<div class="pagination-prev col-md-6 text-right">
	 			<a ng-click="projectTransition()" href="#/projects/{{prevProject}}">Prev</a>
	 		</div>
	 		<div class="pagination-next col-md-6">
	 			<a ng-click="projectTransition()" href="#/projects/{{nextProject}}">Next</a>
	 		</div>
	 	</div>
	 </div>
	


</div>



