<div class="vert-loader">
</div>

<div class="content-area portfolio-container">
		<div ui-view="detail" class="project-details-container" id="project"></div>
		<div class="header">
			<h1><span>Our Work</span></h1>
		</div>
		<ul class="dynamic-grid" angular-grid="pics" grid-width="250" gutter-size="0" angular-grid-id="gallery" refresh-on-img-load="true" >
		     <li ng-repeat="project in projects" class="grid">
		     	<a ui-sref=".detail({ id: project.id })" ui-sref-active="active">
		     	<div class="img_overlay" ng-click="projectTransition()" >
		     		<h3>{{project.name}}</h3>
		     	</div>
		         <img data-ng-src="{{ project.thumb }}" class="grid-img" data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}"/>
		        </a>
		     </li>
		 </ul>

		<!-- <div class="row project-grid">
			<div class="" ng-repeat="project in projects">

				<a ui-sref=".detail({ id: project.id })" ui-sref-active="active">
					<div class="col-md-3 single-thumb" back-img="{{project.thumb}}" ng-click="projectTransition()">
					
					</div>
				</a>
			</div>
		</div>  -->
	
</div>
